.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

ul.hyphen {
    list-style-type: none;

    > li {
        text-indent: -5px;

        &:before {
            content: "\2014 ";
            text-indent: -5px;
        }
    }
}

.noselect {
    -webkit-touch-callout: none;
    user-select: none;
}

.hide {
    display: none;
}

.transition {
    transition: opacity 0.5s, visibility 0.5s;
    opacity: 1;
    visibility: visible;

    &.transitionHide {
        opacity: 0;
        visibility: hidden;
    }
}