html, body {
    background-color: #ecf6ff;
}

.accordion {
    width: 100%;
    padding: 18px;
    border: none;
    outline: none;
    color: white;
    background-color: #448dc9;
    font-size: 15px;
    text-align: left;
    transition: 0.4s;
    cursor: pointer;
}

.accordion.active,
.accordion:hover {
    background-color: #3b79ad;
}

.accordion:active {
    transform: scale(0.95);
}

.accordion:after {
    content: '\002B';
    float: right;
    margin-left: 5px;
    color: #d0dde8;
    font-weight: bold;
}

.accordion.active:after {
    content: "\2212";
}

.accordion+div {
    max-height: 0;
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}