# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/joeherbe/cognosco.info"
PassengerBaseURI "/"
PassengerNodejs "/home/joeherbe/nodevenv/cognosco.info/10/bin/node"
PassengerAppType node
PassengerStartupFile app.js
PassengerAppLogFile "/home/joeherbe/cognosco.info/logs/passenger.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]