doctype html
html(lang='en')
    include ../common/head.pug
    +head(title, ["form"], ['formReferrer'])
    body.topic
        include ../common/navbar.pug
        +navbar("login")
        .main
            form(action='/login', method='POST').limitWidth
                h1.text-center Log in
                input(name='referrer', type='text', value='').hide#referrer
                label Email:
                input(placeholder='Your email', required=true, name='email', type='email', value=formData.email)
                label Password: 
                input(placeholder='Your password', required=true, name='password', type='password', value='')
                if (errors)
                    p.error #{errors.loginMessage}
                button.el Log in
                p 
                    a(href="javascript:void(0);" onclick="forgotPassword()").el Forgot your password?
                p 
                    a(href="/signup").el Don't have an account?
        include ../common/footer.pug
        +footer()