@use "../../scss/globalVars"as *;

.el-full-width-a {
    display: block;
    width: 100%;
    padding: 15px;
    color: white;
    background-color: $bc-topic;
    font-size: 15px;
    text-decoration: none;

    &:hover {
        background-color: $bc-topic-hover-active;
    }
}