$bc-accordion: #448dc9;
$bc-accordion-hover-active: #3b79ad;

.accordion {
    width: 100%;
    padding: 18px;
    border: none;
    outline: none;
    color: white;
    background-color: $bc-accordion;
    font-size: 15px;
    text-align: left;
    transition: 0.4s;
    cursor: pointer;

    &:hover {
        background-color: $bc-accordion-hover-active;
    }

    &:active {
        transform: scale(0.95);
    }

    &:after {
        content: '\002B';
        float: right;
        margin-left: 5px;
        color: #d0dde8;
        font-weight: bold;
    }

    +div {
        max-height: 0;
        padding: 0 18px;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    &.active {
        background-color: $bc-accordion-hover-active;

        :after {
            content: "\2212";
        }
    }
}