@use "../../scss/globalVars"as *;

.el-accordion {
    width: 100%;
    padding: 18px;
    border: none;
    outline: none;
    color: white;
    background-color: $bc-topic;
    font-size: 15px;
    text-align: left;
    transition: 0.4s;
    cursor: pointer;

    &:hover {
        background-color: $bc-topic-hover-active;
    }

    &:active {
        transform: scale(0.95);
    }

    &:after {
        content: '\002B';
        float: right;
        margin-left: 5px;
        color: #d0dde8;
        font-weight: bold;
    }

    +div {
        max-height: 0;
        padding: 0 10px;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: rgba(#5ea0d7, .6);
    }

    &.active {
        background-color: $bc-topic-hover-active;

        :after {
            content: "\2212";
        }

        +div {
            padding-top: 10px;
        }
    }
}