@use "../../globalVars" as *;

.el-button,
button.el {
    display: block;
    padding: 5px 20px;
    border: none;
    box-shadow: 0 0 15px -10px black;
    color: white;
    background-color: $blue;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 40px;
    transition: background-color 0.4s, transform 0.4s;
    cursor: pointer;
    letter-spacing: 2px;

    &.inline-block {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
    }

    &:hover {
        background-color: $blue-dark;
    }

    &:active {
        transform: scale(0.95);
    }
}