.el-header-large,
.el-header-medium,
.el-header-small {
    display: block;
    margin: 0.7em 0;
}

.el-header-large {
    font-size: 48px;
}

.el-header-medium {
    font-size: 36px;
}

.el-header-small {
    font-size: 24px;
}